body {
    background: #ffffff ;
    font-family: "Georgia", serif;
    color: #222;
}

.navbar {
    background: #222;
    border-bottom: 3px solid #b68b2c;
}

.navbar-brand img {
    filter: brightness(0) invert(1);
}

.h1 {
    letter-spacing: 1px;
}

p {
    font-size: 20px;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    border: none;
}

.card-img-top {
    height: 230px;
    object-fit: cover;
}

.card-body {
    background: #fff;
    padding: 24px;
}

.card-title {
    color: #9f854c;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.h3.fw-bold {
    color: #383535;
    font-size: 18px;
}

.h5.text-small {
    color: #555;
    border-left: 4px solid #b68b2c;
    padding-left: 10px;
}

.card-text.small {
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

.h5 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.h1{
    border-bottom: #b68b2c 3px solid;
    margin-bottom: 20px;
}

.footer{
    background: #222;
    border-top: 3px solid #b68b2c;
}

.footer-section{
    color: #ffffff;
}