.h4{
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid  rgba(75, 45, 45, 0.279);
    padding-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.card-img-top {
    width: 100%;          
    height: 300px;        
    object-fit: cover;    
  }
  
  